$background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Old_State_House_Boston_Massachusetts2.jpg);
$red: #ff0000;
$green: #33cc33;
$white: #ffffff;
$red: #ff0000;
$opacity-rgba-var: rgba(0, 0, 0, 0.2);

@font-face {
  font-family: "cityscape";
  src: asset-url("cityscape");
}

@font-face {
  font-family: "lethal_league";
  src: asset-url("Lethal_League");
}

@font-face {
  font-family: "will-harris-reg";
  src: asset-url("Will-Harris-Regular");
}

@font-face {
  font-family: "hometown";
  src: asset-url("Hometown");
}

@font-face {
  font-family: "assassin";
  src: asset-url("Assassin");
}

@font-face {
  font-family: "romance";
  src: asset-url("romance");
}

@font-face {
  font-family: "Typography_Times";
  src: asset-url("Typography_Times_Regular");
}

.title-li {
  display: inline-block;
}

.index-title {
  font-size: 35px;
  padding-left: 8px;
  color: $white;
}

.title-bar-left {
  bottom: 0;
  font-family: "will-harris-reg";
  font-size: 68px;
  margin-top: 20px;
  position: absolute;
  text-shadow: 2px 2px 5px $red;
}

.main-title > a {
  font-family: "will-harris-reg";
}

.title-bar-right {
  font-size: 24px;
  bottom: 0;
}

.hmenu {
  margin-bottom: -7px;
}

h1 {
  font-family: "assassin";
  text-shadow: 2px 2px 5px $red;
}

.title-bar {
  height: 7em;
}

a {
  font-family: "Typography_Times";
  font-style: bold;
  text-shadow: 2px 2px 5px $red;
}

.flexbox {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  height: 100%;
}

.registration {
  border-right: 2px solid $white;
  overflow: hidden;
  padding-right: 20px;
  padding-top: 7%;
  white-space: nowrap;
}

.logout {
  padding-top: 7%;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.main-background {
  background: $background-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-size: cover;
  background: $opacity-rgba-var
}

.microhood-link a {
  font-family: 'Fjalla One', sans-serif;
  color: $white;
  font-size: 25px;
}

.create-microhood-review-link a {
  color: $white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}

.callout {
  background: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
}

.microhood-title {
  color: $white;
  padding-left: 10px;
}

.description {
  color: $white;
  padding-left: 10px;
}

.reviews-for {
  color: $white;
  padding-left: 10px;
}

.edit-link {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 10px;
  position: relative;
}

.delete-link {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 10px;
  position: relative;
}

.input-group {
  margin-left: 5px;
  width: 15em;
}

.add-review {
  margin-left: 1em;
}

.edit-microhood-link {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 10px;
  position: relative;
}

.delete-microhood-link {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 10px;
  position: relative;
}

label {
  color: $white;
  margin-left: 4px;
}

li {
  color: $white;
}

.new-registration {
  margin-left: 5px;
  width: 15em;
}

.edit-registration {
  margin-left: 5px;
  width: 15em;
}

.edit-password {
  margin-left: 5px;
  width: 15em;
}

.new-password {
  margin-left: 5px;
  width: 15em;
}

.log-in {
  margin-left: 5px;
  width: 15em;
}

.edit-user-form {
  width: 15em;
}

.background-overlay {
  background: $opacity-rgba-var;
}

h2 {
  font-size: 1.5rem;
  margin-left: 12px;
  color: $white;
}

.password-text {
  color: $white;
  font-size: 10px;
  display: inline-block;
}

.current-password-field {
  width: 239px;
}

.cancel {
  color: $white;
  margin-left: 13px;
  font-size: 15px;
}

.buttons {
  margin-left: 12px;
  padding-bottom: 0px;
}

.unhappy {
  color: $white;
  margin-left: 15px;
  font-size: 10px;
}

.profile-pic {
  color: $white;
}

.last-name {
  padding-bottom: 5px;
}
