.title-li {
  display: inline-block;
}

.title-bar-left {
  margin-top: 20px;
  font-size: 35px;
  bottom: 0;
  position: absolute;
}

.title-bar-right {
  margin-top: 20px;
  font-size: 24px;
  bottom: 0;
}

.hmenu {
  margin-bottom: -7px;
}

.red {
  background-color: #FF0000;
}

.green {
  background-color: #33CC33;
}
